body{background-color: white;
}

h1{color: white;
text-align:center;
border:blue 3px;
background-color: blue;
border-style: ridge;
border-radius: 50px;
width: 350px;
margin-left: 600px;
}
.divider1{
background-color: blue;
border: solid 1.5px blue;
}


h2{color:white;
border: blue;
mask-border: 50px;
border-style: solid;
background-color: blue;
width: 367px;
padding-left: 10px;
font-style: italic;
}


.left-column {
    float: left;
    width: 25%;
    padding: 30px;
  }
  .right-column {
    float: right;
    width: 25%;
    padding: 30px;    
  }
  
  .sidebar{
      text-align: center;
  }
  

.sidebar{
color: blue;
font-style: italic;
}

.billede{
width:200px;
height:200px;
text-align: center;
}



